body {
  font-family: 'Roboto', sans-serif;
}

.disable-selection,
.material-icons {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
  cursor: pointer;
}

.fade-on-hover:hover {
  opacity: 0.5;
}

.react-calendar-heatmap .color-full {
  fill: #15e041;
}

.react-calendar-heatmap .color-empty {
  fill: #585858;
}
